.container {
  width: 100vw;
  height: 100vh;
  padding: 1.5rem;
}
.container .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container .navbar img {
  width: 100px;
}
.container .navbar button {
  border: none;
  background-color: #4e24e1;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  color: #fff;
}
.container .card {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .card form {
  width: 30vw;
  min-height: 50vh;
  background-color: #fff;
  border: 1px solid #4e24e1;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.container .card form .quick-sign {
  border: none;
  background-color: #4e24e1;
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
  color: #fff;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 0.5rem;
}
.container .card form .quick-sign img {
  background-color: #fff;
  padding: 0.25rem;
  border-radius: 50%;
  position: absolute;
  left: 5%;
}
.container .card form .divider {
  width: 100%;
  color: #808080;
  text-align: center;
  position: relative;
  margin-bottom: 0.5rem;
}
.container .card form .divider::after {
  content: "";
  position: absolute;
  width: 45%;
  height: 1px;
  background-color: #808080;
  top: 50%;
  left: 0;
}
.container .card form .divider::before {
  content: "";
  position: absolute;
  width: 45%;
  height: 1px;
  background-color: #808080;
  top: 50%;
  right: 0;
}
.container .card form input[type=email] {
  padding: 0.75rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #808080;
  color: #808080;
}
.container .card form input[type=email]:focus-visible {
  outline: none;
  border: 1px solid #4e24e1;
}
.container .card form input[type=password] {
  padding: 0.75rem;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid #808080;
  color: #808080;
}
.container .card form input[type=password]:focus-visible {
  outline: none;
  border: 1px solid #4e24e1;
}
.container .card form .input-group {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}
.container .card form .input-group input[type=checkbox] {
  margin-right: 5px;
}
.container .card form .input-group a {
  margin-left: auto;
  color: #4e24e1;
}
.container .card form .btn-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .card form .btn-group button {
  cursor: pointer;
  border: none;
  background-color: #4e24e1;
  padding: 0.75rem 0.5rem;
  border-radius: 0.3rem;
  color: #fff;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 0.5rem;
}
.container .card form .btn-group button:last-child {
  background-color: #eee;
  color: #808080;
  margin-bottom: 0rem;
}
.container footer {
  position: absolute;
  left: 50%;
  bottom: 2%;
  color: #fff;
  transform: translateX(-50%);
}

@media (max-width: 1000px) {
  form {
    width: 60vw !important;
    min-height: 50vh !important;
  }
  form .input-group {
    font-size: 0.8rem !important;
  }
}
@media (max-width: 425px) {
  form {
    width: 90vw !important;
    min-height: 50vh !important;
  }
  form .input-group {
    font-size: 0.8rem !important;
  }

  footer {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=Login.css.map */
